@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background-image: url('../images/signupp-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.button-submit{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #233696;
    /* border-width: 0rem; */
    padding: 0.5rem;
    color:white;
    border-radius:1rem;
    margin-top: 0.5rem;
    font-family: poppins;
    /* height:2rem; */
    width:30%;
    text-align: center;
}

.input-login1{
    margin-top: 50rem;
}
.input-login2{
    margin-top:2rem;
}

.div-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 70%;;
}

.username{
    width:50%;
    margin-top: 0.5rem;
}
.password{
    width:50%;
    margin-top: 0.7rem;
}

a{
    text-decoration: none;
    color:white;
}


label{
    color:#233696;
    font-family: poppins;
    font-size: x-large;
}

input{
    border-radius:0.5rem;
    height: 2rem;
}

@media only screen and (max-width: 400px) {
    button.button-submit{
    /* font-size: 14px; */
    /* padding: 0 6rem; */
    border-radius: 1rem;
    width: 80%;
}
}

@media only screen and (max-width: 400px) {
    .username {
    /* font-size: 14px; */
    /* padding: 0 6rem; */
    border-radius: 1rem;
    width: 100%;
}
}

@media only screen and (max-width: 400px) {
    .password {
        /* background-image: url("../images/landing-bg.png"); */
    /* font-size: 14px; */
    /* padding: 0 6rem; */
    border-radius: 1rem;
    width: 100%;
}
}